<div class="jumbotron">
    <h1 class="display-4 text-danger">404 Not Found Error</h1>
    <p class="lead">
        Sorry, the resource you request could not be found
    </p>
    <hr  class="my-4"/>
    <a asp-action="index" asp-controller="home" class="btn btn-outline-dark">Click here to navigate to the home page</a>
</div>