<div class="jumbotron">
    <h1 class="display-4 text-danger">Something went wrong</h1>
    <p class="lead">
        Sorry, please try again
    </p>
    <hr class="my-4" />
    <a asp-action="index" asp-controller="home" class="btn btn-outline-dark">Click here to navigate to the home page</a>
</div>